<h1 class="mt-5">dropdown-select demo</h1>

<form [formGroup]="profileForm" class="needs-validation" novalidate (ngSubmit)="onSubmit($event)">

    <div class="form-group">
        <label>Language:</label>
        <dropdown-select [options]="items" [(ngModel)]="selectedItem" [group-by]="'Code'" [is-required]="true"
                         (change)="onChange($event)" [formControlName]="'selectedItem'">
        </dropdown-select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="profileForm.controls['selectedItem'].invalid">Submit
    </button>
</form>

<pre *ngIf="selectedItem">
    {{selectedItem|json}}
</pre>
